*,
*::before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font: inherit;
  vertical-align: baseline;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
  font-family: MADE Tommy Soft;
}

body {
  position: relative;
  height: 100%;
  width: 100vw;
  box-sizing: border-box;
  background-color: #fefefe;
  overflow-x: hidden;
}

main {
  position: relative;
  height: 200vh;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: start;
  align-items: center;
}

main h1 {
  position: relative;
  font-size: 3.6rem;
  margin: 3rem 0 1.5rem;
}

main form.contact-form {
  position: relative;
  height: max-content;
  width: 60%;
  padding: 2rem;
  display: flex;
  flex-flow: column nowrap;
  background-color: #1a1a1a33;
  border-radius: 0.5rem;
}

main form.contact-form fieldset {
  position: relative;
  padding: 1rem;
  display: grid;
  margin: 0 0 1rem;
  border: none;
}

main form.contact-form fieldset legend {
  position: relative;
  font-size: 2.4rem;
  padding: 0 1rem;
}

main form.contact-form fieldset.contact-form__user-information {
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

main form.contact-form fieldset.contact-form__user-information label {
  display: flex;
  flex-flow: row nowrap;
  justify-content: start;
  align-items: center;
  padding: 0 0 0 1rem;
  margin: 0 0 2rem;
  font-size: 1.8rem;
}

main form.contact-form fieldset.contact-form__user-information label.contact-form__user-information__first-name {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;

  position: relative;
  height: max-content;
  width: 100%;
}

main form.contact-form fieldset.contact-form__user-information label.contact-form__user-information__last-name {
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
  position: relative;
  height: max-content;
  width: 100%;
}

main form.contact-form fieldset.contact-form__user-information label.contact-form__user-information__email {
  grid-column: 1 / span 2;
  grid-row: 2 / span 1;
  position: relative;
  height: max-content;
  width: 100%;
}

main
  form.contact-form
  fieldset.contact-form__user-information
  label.contact-form__user-information__first-name
  input.contact-form__user-information__first-name__first,
main
  form.contact-form
  fieldset.contact-form__user-information
  label.contact-form__user-information__last-name
  input.contact-form__user-information__last-name__last {
  position: relative;
  height: 100%;
  width: 81.5%;
  margin: 0 0 0 1rem;
  padding: 0.5rem 1rem;
}

main form.contact-form fieldset.contact-form__user-information label.contact-form__user-information__email input.contact-form__user-information__email__email {
  position: relative;
  height: 100%;
  width: 100%;
  margin: 0 0 0 1rem;
  padding: 0.5rem 1rem;
}

main form.contact-form fieldset.contact-form__message-details {
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
}

main form.contact-form fieldset.contact-form__message-details label {
  display: flex;
  padding: 0 0 0 1rem;
  margin: 0 0 0.5rem;
  font-size: 1.8rem;
}

main form.contact-form fieldset.contact-form__message-details label.contact-form__message-details__subject {
  flex-flow: row nowrap;
  justify-content: start;
  align-items: center;
}

main form.contact-form fieldset.contact-form__message-details label.contact-form__message-details__message {
  flex-flow: column nowrap;
  justify-content: start;
  align-items: start;
}

main
  form.contact-form
  fieldset.contact-form__message-details
  label.contact-form__message-details__subject
  input.contact-form__message-details__subject__subject {
  position: relative;
  height: 42.5%;
  width: 100%;
  margin: 0 0 0 1rem;
  padding: 0.5rem 1rem;
}

main
  form.contact-form
  fieldset.contact-form__message-details
  label.contact-form__message-details__message
  textarea.contact-form__message-details__message__message {
  position: relative;
  height: 100%;
  width: 100%;
  margin: 0.5rem 0 0;
  padding: 1rem;
  transform: translateX(-0.5rem);
}

main form.contact-form fieldset.contact-form__button {
  display: flex;
  justify-content: center;
  align-items: center;
}

main form.contact-form fieldset.contact-form__button button {
  position: relative;
  height: 3.6rem;
  width: max-content;
  padding: 1rem;
  font-size: 1.6rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

main form.contact-form fieldset.contact-form__button button:hover {
  cursor: pointer;
}
